/* Campos Qualificação Cadastral */
#cadastro
{

}

#cadastro .container_icone_tirar_foto
{
  color: #138f7e;
  cursor: pointer;
  font-weight: bold;
  margin: 2em auto 1em;
  text-align: center;
  width: 9em;
}

#cadastro .container_icone_tirar_foto .icone_tirar_foto
{
  background-image: url("../../../assets/img/icone_tirar_foto.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 100px;
  display: inline-block;
  height: 6em;
  width: 6em;
}

#cadastro .container_texto_campos_obrigatorios
{
  color: #d00;
  margin: 1em auto;
  text-align: center;
  width: 80%;
}

#cadastro .container_botao
{
  padding-bottom: 2em;
}
/* FIM: Campos Qualificação Cadastral */

/* Empresas */
#empresas
{

}

#empresas .container_texto_empresas_onde_voce_trabalha
{
  font-size: 1.25em;
  padding: 1.25em 0;
  text-align: center;
}

#empresas .container_icone_adicionar
{
  color: #138f7e;
  cursor: pointer;
  font-weight: bold;
  margin-top: 1.5em;
  text-align: center;
}

#empresas .container_icone_adicionar img
{
  width: 16%;
}

#empresas .container_botao_continuar
{
  bottom: 0;
  margin: 0;
  padding: 1em 0;
  position: absolute;
  width: 100%;
  z-index: 100;
}

#empresas .container_lista_empresas
{
  margin: 0 auto;
  max-height: 14em;
  overflow: auto;
  width: 80%;
}

#empresas .container_lista_empresas .item
{
  border-bottom: 2px dotted #ccc;
  padding: 0.9em 0;
}

#empresas .container_lista_empresas .item .nome_da_empresa
{
  display: inline-block;
  font-size: 1.15em;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  width: 93%;
}

#empresas .container_lista_empresas .item .icone_excluir
{
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  width: 7%;
}

#empresas .container_lista_empresas .item .icone_excluir img
{
  width: 100%;
}
#adicionar_empresas .container_lista_empresas .item .icone_excluir
{
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  width: 7%;
}

#adicionar_empresas .container_lista_empresas .item .icone_excluir img
{
  width: 100%;
}
/* FIM: Empresas */

/* Adicionar Empresas */
#adicionar_empresas
{

}

#adicionar_empresas .container_texto_digite_nome_cnpj_razsocial
{
  font-size: 1.25em;
  margin: 0 auto 0;
  padding: 1.25em 0;
  text-align: center;
  width: 80%;
}

#adicionar_empresas .container_botao_continuar
{
}

#adicionar_empresas .container_texto_instrucao_autocomplete
{
  color: #d00;
  margin: 2em auto 0;
  width: 80%;
}

#adicionar_empresas .container_lista_empresas
{
  margin: 0 auto 0;
  width: 80%;
}#adicionar_empresas .container_lista_empresas .item
{
  border-bottom: 2px dotted #ccc;
  cursor: pointer;
  padding: 1em 0;
}

#adicionar_empresas .container_lista_empresas .item .nome_da_empresa
{
  display: inline-block;
  font-size: 1.15em;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  width: 93%;
}

#adicionar_empresas .container_lista_empresas .item .icone_seta
{
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  width: 7%;
}

#adicionar_empresas .container_lista_empresas .item .icone_seta img
{
  opacity: 0.65;
  width: 55%;
}

#adicionar_empresas .container_campo_pesquisar
{

}

#adicionar_empresas .container_campo_pesquisar #adicionar_empresas_input_text_pesquisar
{
  display: inline-block;
  vertical-align: middle;
  width: 84%;
}

#adicionar_empresas .container_campo_pesquisar #btnPesquisarEmpresas
{
  cursor: pointer;
  vertical-align: middle;
  width: 15%;
}
/* FIM: Adicionar Empresas */

/* Dados Complementares */
#cadastro_dados_complementares
{

}

#cadastro_dados_complementares .navbar .botao_esquerda {
  width: 20%;
}

#cadastro_dados_complementares .navbar .titulo_view {
  width: 60%;
}

#cadastro_dados_complementares .navbar .botao_direita {
  width: 20%;
}

#cadastro_dados_complementares .container_botao
{
  padding-bottom: 2em;
}

#cadastro_dados_complementares .container_dois_campos
{
  overflow: hidden;
}

#cadastro_dados_complementares .container_campo_orgao_emissor
{
  clear: none;
  float: left;
  margin: 1em 0 1em 10%;
  width: 40%;
}

#cadastro_dados_complementares .container_campo_orgao_emissor label
{
  font-size: 0.85em;
  font-weight: normal;
}

#cadastro_dados_complementares .container_campo_data_de_expedicao
{
  clear: none;
  float: left;
  margin: 1em 0 1em 3%;
  width: 37%;
}

#cadastro_dados_complementares .container_campo_data_de_expedicao label
{
  font-size: 0.78em;
  font-weight: normal;
}

#cadastro_dados_complementares .container_campo_ctps_serie
{
  float: left;
  margin: 1em 0 1em 10%;
  width: 40%;
}

#cadastro_dados_complementares .container_campo_ctps_serie label
{
  font-size: 0.85em;
  font-weight: normal;
}

#cadastro_dados_complementares .container_campo_ctps_uf
{
  float: left;
  margin: 1em 0 1em 3%;
  width: 37%;
}

#cadastro_dados_complementares .container_campo_ctps_uf label
{
  font-size: 0.85em;
  font-weight: normal;
}

#cadastro_dados_complementares .container_campo_sexo
{
  border: none;
}

#cadastro_dados_complementares .container_campo_endereco_numero
{
  clear: none;
  float: left;
  margin: 1em 0 1em 10%;
  width: 40%;
}

#cadastro_dados_complementares .container_campo_endereco_numero label
{
  font-size: 0.85em;
  font-weight: normal;
}

#cadastro_dados_complementares .container_campo_endereco_complemento
{
  clear: none;
  float: left;
  margin: 1em 0 1em 3%;
  width: 37%;
}

#cadastro_dados_complementares .container_campo_endereco_complemento label
{
  font-size: 0.85em;
  font-weight: normal;
}

#cadastro_dados_complementares .container_campo_sexo
{

}

#cadastro_dados_complementares .container_campo_sexo label
{
  display: block;
  margin-bottom: 1em;
}

#cadastro_dados_complementares .radio_button_sexo
{
  border: 2px solid #999;
  border-radius: 100px;
  cursor: pointer;
  display: inline-block;
  height: 1.3em;
  text-align: center;
  vertical-align: middle;
  width: 1.3em;
}

#cadastro_dados_complementares .radio_button_sexo span
{
  border-radius: 100px;
  display: inline-block;
  height: 0.8em;
  margin: 0.25em;
  width: 0.8em;
}

#cadastro_dados_complementares .radio_button_sexo.selecionado span
{
  background-color: #008c7f;
}

#cadastro_dados_complementares .radio_button_sexo.masculino
{
  margin-left: 2em;
}

#cadastro_dados_complementares .label_radio_button_sexo
{
  cursor: pointer;
  margin-left: 0.3em;
}
/* FIM: Dados Complementares */
