#esqueci_minha_senha .navbar .botao_esquerda {
  width: 20%;
}

#esqueci_minha_senha .navbar .titulo_view {
  width: 60%;
}

#esqueci_minha_senha .navbar .botao_direita {
  width: 20%;
}

#esqueci_minha_senha .container_logo_sou_eu_mesmo
{
  margin: 4.5em auto;
  text-align: center;
  width: 80%;
}

#esqueci_minha_senha .container_logo_sou_eu_mesmo img
{
  width: 70%;
}



#esqueci_minha_senha .container_campo_pesquisar
{

}

#esqueci_minha_senha .container_campo_pesquisar #esqueci_minha_senha_input_text_cpf
{
  display: inline-block;
  vertical-align: middle;
  width: 84%;
}

#esqueci_minha_senha .container_campo_pesquisar #btnPesquisar
{
  cursor: pointer;
  vertical-align: middle;
  width: 15%;
}

#esqueci_minha_senha .container_campo_cpf
{
  margin-top: 2.5em;
}

#esqueci_minha_senha .container_texto_email_incorreto
{
  margin: 2.5em auto;
  width: 80%;
}

#esqueci_minha_senha .container_botao_recuperar
{
  bottom: 0;
  margin: 0;
  padding: 1em 0;
  position: fixed;
  width: 100%;
}

#esqueci_minha_senha #lblEmail
{
  display: none;
}

#esqueci_minha_senha #container_texto_email_incorreto
{
  display: none;
}

#esqueci_minha_senha #btnRecuperar
{
  display: none;
}

#esqueci_minha_senha .container_texto_digite_cpf
{
  font-size: 1.25em;
  margin: 0 auto 0;
  padding: 1.25em 0;
  text-align: center;
  width: 80%;
}
