body
{
  margin-top: 0;
}

.view
{
  padding-top: 3em;
}

#inicial
{
  background-image: url("../../../assets/img/background_tela_inicial.jpg");
  background-repeat: no-repeat;
  overflow: hidden;
}

#inicial .container_logo_sou_eu_mesmo
{
  margin: 0 auto;
  width: 80%;
}

#inicial .container_logo_sou_eu_mesmo img
{
  width: 100%;
}

#inicial .container_texto_introducao
{
  color: #333;
  font-size: 0.8em;
  line-height: 140%;
  margin: 1em auto;
  width: 80%;
}

#inicial .container_link_iniciar_cadastro
{
  margin: 1.8em auto;
  text-align: center;
  width: 80%;
}

#inicial .container_link_iniciar_cadastro a
{
  font-size: 2em;
}

#inicial .container_link_ja_tenho_cadastro
{
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

#inicial .container_link_ja_tenho_cadastro a
{
  font-size: 1.5em;
}
