.container_logo_sou_eu_mesmo
{
  margin: 0 auto 3em;
  text-align: center;
  width: 80%;
}

.container_logo_sou_eu_mesmo img
{
  width: 70%;
}

.container_botao_esqueci_minha_senha
{
  font-size: 1.25em;
  padding: 0;
}
