

@font-face
{
  font-family: 'MyriadProRegular';
  src: url('../ext/fonts/MyriadProRegular/MyriadProRegular.eot?#iefix') format('embedded-opentype'), url('../ext/fonts/MyriadProRegular/MyriadProRegular.otf')  format('opentype'), url('../ext/fonts/MyriadProRegular/MyriadProRegular.woff') format('woff'), url('../ext/fonts/MyriadProRegular/MyriadProRegular.ttf')  format('truetype'), url('../ext/fonts/MyriadProRegular/MyriadProRegular.svg#MyriadProRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face
{
  font-family: 'MyriadProSemibold';
  src: url('../ext/fonts/MyriadProSemibold/MyriadProSemibold.eot?#iefix') format('embedded-opentype'), url('../ext/fonts/MyriadProSemibold/MyriadProSemibold.otf')  format('opentype'), url('../ext/fonts/MyriadProSemibold/MyriadProSemibold.woff') format('woff'), url('../ext/fonts/MyriadProSemibold/MyriadProSemibold.ttf')  format('truetype'), url('../ext/fonts/MyriadProSemibold/MyriadProSemibold.svg#MyriadProSemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face
{
  font-family: 'MyriadProBold';
  src: url('../ext/fonts/MyriadProBold/MyriadProBold.eot?#iefix') format('embedded-opentype'), url('../ext/fonts/MyriadProBold/MyriadProBold.otf')  format('opentype'), url('../ext/fonts/MyriadProBold/MyriadProBold.woff') format('woff'), url('../ext/fonts/MyriadProBold/MyriadProBold.ttf')  format('truetype'), url('../ext/fonts/MyriadProBold/MyriadProBold.svg#MyriadProBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

html
{
  height: 100%;
}

body
{
  color: #333;
  font-family: 'MyriadProRegular';
  height: 100%;
  margin: 0;
}

a
{
  color: #0F5D4F;
  text-decoration: none;
}

/* Remove o highlight dos taps */
input,
select,
a,
button
{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
}

.view
{
  background-position: center bottom;
  background-size: 100% auto;
  box-sizing: border-box;
  min-height: 100%;
  padding-top: 7.2em;
}

.navbar
{
  background-color: #fff;
  border-bottom: 1px solid #1d8f80;
  color: #1d8f80;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  height: 60px;
}

.navbar div
{
  font-size: 1.17em;
  text-align: center;
}

.navbar a,
.navbar span
{
  vertical-align: middle;
}

.navbar .botao_esquerda
{
  box-sizing: border-box;
  cursor: pointer; /* Necessário para reconhecer o toque no iOS */
  display: inline-block;
  overflow: hidden;
  padding: 1em;
  text-align: left;
  width: 32%;
}

.navbar .botao_esquerda img
{
  height: 0.8em;
  margin-right: 0.4em;
  vertical-align: middle;
}

.navbar .titulo_view
{
  box-sizing: border-box;
  display: inline-block;
  font-family: 'MyriadProBold';
  font-weight: bold;
  overflow: hidden;
  padding: 1em 0;
  width: 36%;
}

.navbar .botao_direita
{
  box-sizing: border-box;
  cursor: pointer; /* Necessário para reconhecer o toque no iOS */
  display: inline-block;
  overflow: hidden;
  padding: 1em;
  text-align: right;
  width: 32%;
}

.container_botao
{
  clear: both;
  cursor: pointer;
  font-size: 1.8em;
  padding: 1em 0;
  text-align: center;
}

.container_botao a
{
  color: #138F7E;
}

.container_campo,
.container_placeholder
{
  border-bottom: 2px solid #555;
  margin: 1em auto;
  padding-bottom: 0.4em;
  width: 80%;
}

.container_campo label,
.container_placeholder label
{
  color: #555;
  font-weight: bold;
}

.container_campo input,
.container_campo select
{
  border: none;
  display: block;
  font-size: 1.5em;
  width: 100%;
}

.container_placeholder
{
  border: none;
}

.container_placeholder .span_placeholder
{
  display: block;
  font-size: 1.5em;
  overflow: hidden;
  width: 100%;
}
