* {
   /* -webkit-user-select: none; o problema de não aparecer as letras no input se encontra aqui */
}

body {
    padding: 0px;
    margin: 0px;
}

a {
    color: inherit;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


.header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 44px;
    background: #109adc;
    color: #FFFFFF;
    border-bottom: 1px solid #0E5895;;
}

.header h1 {
    font-size: 20px;
    line-height: 44px;
    text-align: center;
    margin: 0px;
}

.header .btn {
    padding: 0px 12px 0px 12px;
    position: absolute;
    top: 5px;
    left: 8px;
    line-height: 32px;
    background-color: #0984c6;
    border: 1px solid #0e5895;
    border-radius: 2px;
}

.header a:active {
    color: #fff;
    background-color: #0876b1;
}

.page .scroller {
    position: absolute;
    overflow: auto;
    top: 4.2em;
    left: 0px;
    right: 0;
    bottom: 0;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list li {
    position: relative;
    padding: 20px 10px;
    border-bottom: 1px solid #BCBCBC;
}

.list li > a {
    position: relative;
    padding: inherit;
    margin: -20px -10px;
}

.list li > a:active {
    background-color: #D7D7D7;
}

.robot {
    padding: 12px;
}

.robot>img {
    float: left;
    width: 150px;
    height: 150px;
}

.robot > p {
    clear: both;
}